language: scala
sudo: false
scala:
  - 2.11.11
  - 2.12.4
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
script: 
  - travis_retry "./travis.sh"
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
